/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.46.29
    Author     : Francesco
*/

#posts{
    border-style: solid;
    border-color: black;
    width: 78%;
    float:left;
    border-top:none;
}
.post{
    margin-left: 24%;
    margin-bottom: 3%;
    margin-top: 1%;
    border-style: solid;
    border-color: black;
    width: 400px;
    
}
#leftbar{
    border-style: solid;
    border-color: black;
    border-right:none;
    width:200px;
    float:left;
}
#navbar{
    border-style: solid;
    background-color: #99ccff;
    border-color: black;
    border-bottom:none;
    height: 55px;
    margin-right: 1%;
    
    
}
#status{
   border-style: solid; 
   border-color: black;
   width: 78%;
   height: 55px;  
   margin-left: 203px;
   line-height: 0.6;
}
#title{
    border-style: solid;
    border-color: black;
    border-left: none;
    border-top: none;
    border-bottom: none;
    text-align: center;
    height: 55px;
    float: left;
    width: 200px;
    line-height: 0.5; 
    
}
#profilo{
    border-style: solid;
    border-color: black;
    border-top: none;
    border-bottom: none;
    border-right:none;
    border-left:none;
    height: 55px;
    float: left;
    line-height: 0.5; 
    width: 130px;
    text-align:center;
    
}
#bacheca{
    border-style: solid;
    border-color: black;
    border-top:none;
    border-bottom:none;
    height: 55px;
    float: left;
    width: 130px;
    line-height: 0.5; 
    text-align: center;
    
}
#utente{
    border-style: solid;
    border-color: black;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 55px;
    width: 200px;
    float: right;
}
#a{
    text-decoration: none;
}